<div class="container" *ngIf="currentUser">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser?.username }}</strong> Profile
    </h3>
    <br/>
    <p>
      <strong>Email:</strong>
      <span class="badge badge-light text-dark email">
        {{ currentUser?.email }}
      </span>
    </p>
    <br/>
    <strong>Roles: </strong>
    <span class="badge badge-primary" *ngFor="let role of currentUser.roles">
      {{ role }}</span>
    <br/>
    <br/>
    <button class="btn  btn-warning"
            (click)="showPasswordForm()"
            *ngIf="!isChangingPassword && !isSuccessful">
            Change password
    </button>
    <div *ngIf="isChangingPassword">
      <form name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate>
        <div class="form-group">
          <label for="password">New password</label>
          <input id="password"
                 type="password"
                 class="form-control"
                 name="password"
                 [(ngModel)]="form.password"
                 required
                 minlength="6"
                 #password="ngModel"/>
          <div class="alert-danger" *ngIf="password.errors && f.submitted">
            <div *ngIf="password.errors['required']">Password is required</div>
            <div *ngIf="password.errors['minlength']">
              Password must be at least 6 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block"
                  type="submit"
                  value="submit">Change Password
          </button>
        </div>
        <br/>
        <div class="alert alert-warning" *ngIf="isPasswordChangeFailure">
          {{ responseMessage }}
        </div>
      </form>
    </div>
    <div class="alert alert-success" *ngIf="isSuccessful">
      {{responseMessage}}
    </div>
  </header>
</div>
