<div class="col-md-12">
  <div class="card card-container">
    <table class="table align-middle mb-0 bg-white" *ngIf="!form?.username">
      <thead class="bg-light">
      <tr>
        <th>#Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of userData;">
        <td>
          <p class="fw-normal mb-1">{{ user?.id }}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ user?.username}}</p>
        </td>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-normal mb-1">{{ user?.email }}</p>
            </div>
          </div>
        </td>

        <td>
          <span class="badge badge-primary role-option"
                *ngFor="let role of user.roles;">
                {{ role.name }}
          </span>
          <span class="badge badge-danger rounded-pill d-inline"
                *ngIf="user?.roles?.length === 0">
            Suspended
          </span>
        </td>
        <td>
          <button type="button"
                  class="badge badge-primary d-inline action-btn"
                  (click)="editUser(user)">
                  Change password
          </button>
          <button type="button"
                  class="badge badge-warning d-inline action-btn"
                  (click)="editRole(user)">
                  Edit Roles
          </button>
          <button type="button"
                  class="btn badge badge-danger action-btn"
                  (click)="deleteUser(user?.id, user?.username)">
                  Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <app-edit-single-user [form]="form" *ngIf="form?.username"
                            (cancelEvent)="cancel()"
                            (submitUser)="submitPasswordChange($event)">
      </app-edit-single-user>
      <div *ngIf="editRoles && !form?.username">
        <header>
          Username: <strong>{{userToUpdate?.username}}</strong>
        </header>
        <br/>
        <app-roles (roleEvent)="applyRoles($event)"></app-roles>
      </div>
    </div>
  </div>
</div>
